<script lang="ts" setup>
import DeclarativeRendering from './components/DeclarativeRendering.vue';
import AttributeBindings from './components/Attribute Bindings.vue';
import EventListeners from './components/Event Listeners.vue';
import FormBindings from './components/Form Bindings.vue';
import ConditionalRendering from './components/Conditional Rendering.vue';
</script>
<template>
  <h1>Hello</h1>
  <ConditionalRendering />
  
   <DeclarativeRendering></DeclarativeRendering>
   <AttributeBindings> 


   </AttributeBindings> 
   <EventListeners></EventListeners>
   <FormBindings></FormBindings>
</template>